@using DTO
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
    var listCategory = ViewBag.ListCategory;
}
<h2>Create a Product</h2>
<section class="row">
    <section>
        <div><p class="text-danger" id="register-valid"></p></div>
        <form class="form-inline form-horizontal" method="post">
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Product Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="product-name" id="product-name" placeholder="Enter product name" />
                        <span class="text-danger" id="product-name-valid"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="cols-sm-2 control-label">Category</label>
                <div class="cols-sm-10">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <select class="form-control" id="category">
                        @{
            foreach (var x in listCategory)
            {
                <option value="@x.CategoryID">@x.CategoryName</option>
}
                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password"  />
                        <span class="text-danger" id="password-valid"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm-password" placeholder="Confirm your Password" />
                        <span class="text-danger" id="confirm-password-valid"></span>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <input type="button" id="register" class="btn btn-primary btn-lg btn-block login-button" value="Register">
            </div>

        </form>
    </section>
    
</section>

