@model PagedList.IPagedList<ProductDTO>
@using DTO;
@using PagedList.Mvc
@{
    ViewBag.Title = "Search By Category";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<h2>Index</h2>
<section class="product-area">
    @{
        foreach (var x in Model)
        {
            <section class="col-md-3 ">
                <img class="card-img-top img-fluid" src="@Url.Content(String.Format(x.ProductImage))">
            </section>
        }
    }
</section>


<br />
<section class="col col-md-12">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SearchByCategory", "Index", new { page }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "product-area" }))
</section>